{% extends '::base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script src="{{ asset('bundles/app/js/chat.js') }}"></script>
{% endblock %}

{% block body %}
    {{ dump(config) }}
    <h1>Public chat</h1>
    <div>
        {#{{ currentUser }}#}
    </div>
    <div class="chat-body">
        <ul id="chat-list"></ul>
        <hr>
    </div>

    <div>
        <textarea id="form-message" placeholder="Your public message here"></textarea>
    </div>
    <div>
        <input type="button" id="form-submit" value="Send message"/>
    </div>
{% endblock %}
